vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_textextensions:SW|.txt.
vti_webservertype:SR|diskweb
vti_defaultlanguage:SR|fr
vti_approvalapproved:SR|Approuvé 
vti_approvaldenied:SR|Refusé
vti_timecreated:TR|06 Oct 2021 16:27:53 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_defaultcharset:SR|windows-1252
vti_navbuttonuplabel:SR|Remonter
vti_htmlextensions:SW|.htm.html.asp.aspx.shtml.stm.htt.htx.alx.asa.hta.htc.jsp.cfm.odc.phtml.php.php2.php3.php4.php5.dwt.
vti_disableautoimgsizeexts:SX|.asp
vti_extenderversion:SR|6.0.2.5516
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Précédente
vti_navbuttonnextlabel:SR|Suivante
vti_approvallevels:VR|Approuvé  Refusé Révision\\ en\\ cours
vti_showhiddenpages:IR|1
vti_navbuttonhomelabel:SR|Accueil
vti_dependenciesood:IR|0
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_ServerWebParts vti_RulesScript vti_TimedDocEvents
vti_categories:VR|Voyage Note\\ de\\ frais Professionnel Compétition Buts/Objectifs Idées Dispositions\\ diverses En\\ attente V.I.P En\\ cours Planification Agenda
